<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions required for downloading the model -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    
    <!-- Permissions required for Car VHAL -->
    <uses-permission android:name="android.car.permission.CONTROL_CAR_CLIMATE" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_SEATS" />
    <uses-permission android:name="android.car.permission.CAR_SPEED" />
    <application
        android:allowBackup="true"
        android:label="Local AI Assistant"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        
        <activity
            android:name=".LocalLLMActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".AssistantVoiceInteractionService"
                 android:permission="android.permission.BIND_VOICE_INTERACTION"
                 android:exported="true">
            <meta-data android:name="android.voice_interaction"
                       android:resource="@xml/voice_interaction_service" />
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>
        </service>
        
        <service android:name=".AssistantSessionService"
                 android:permission="android.permission.BIND_VOICE_INTERACTION"
                 android:exported="true" />
                 
    </application>

</manifest>
